.bookmark
    --c: lightgreen
    border: 1px solid var(--c)
    background-color: var(--c)
    &::before
        content: "bookmarks"
        font-family: 'Material Icons'
        font-size: 1.2em
        border-radius: 50%
        background-color: var(--c)
        padding: 0.3em
    
.body--dark 
    .bookmark
        --c: green
    transcript-text
        --bg-color: var(--color-1)
        --word-color: #d28250